<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FollowingSongsActivity"></activity>
        <activity android:name=".FollowingPlaylistsActivity" />
        <activity android:name=".FoundPlaylist" />
        <activity android:name=".PlaylistActivity" />
        <activity
            android:name=".DeleteSongActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing" />
        <activity android:name=".Player" />
        <activity android:name=".BecomeArtistActivity" />
        <activity android:name=".AddSongActivity" />
        <activity android:name=".MyPlaylistsActivity" />
        <activity android:name=".BanUsersActivity" />
        <activity android:name=".ProfilActivity" />
        <activity
            android:name=".ArtistActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".CompleteProfile" />
        <activity android:name=".MainPage" />
        <activity android:name=".Logare" />
        <activity android:name=".Inregistrare" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>